*.class
~*.*
*.bak
*.tmp
*.MF
*.iml
*.log

/code/**/.classpath
/code/**/.mymetadata
/code/**/.project
/code/**/.settings/
/code/**/test-output/
/code/**/.apt_generated/
/code/**/.externalToolBuilders/
/code/**/target/
/code/**/test-output/
/code/**/.apt_generated/
/code/**/tmp/
/code/**/migrations/
/code/**/src/main/webapp/META-INF/
/code/**/src/main/webapp/WEB-INF/classes/
/code/**/src/main/webapp/WEB-INF/lib/



/**/.idea
/**/.classpath
/**/.mymetadata
/**/.project
/**/.settings/
/**/test-output/
/**/.apt_generated/
/**/.externalToolBuilders/
/**/target/
/**/test-output/
/**/.apt_generated/
/**/logs/
/**/src/main/webapp/META-INF/
/**/src/main/webapp/WEB-INF/classes/
/**/src/main/webapp/WEB-INF/lib/



/code/**/.idea
/code/**/node_modules
/code/**/bower_components


/code/**/.gradle
/code/**/build

/**/__pycache__

