{% extends "bootstrap/base.html" %}




<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

        {%- block metas %}
            {{ super() }}

        <meta name="description" content="crm" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        {%- endblock metas %}

        {%- block styles %}
             {{ super() }}
         <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
         <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

        <!-- 引入样式 -->

  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->

        <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>


        <!--自定义样式-->
        <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet" />


        {%- endblock styles %}
    {%- endblock head %}
  </head>

  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}

        {% block navbar %}
        {%- endblock navbar %}
        {% block content -%}
        {%- endblock content %}

        {% block scripts %}
            {{ super() }}

        {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>



