{% macro pagination(hiddens=True) %}

    {% raw %}
                  <div>
                    <ul class="pagination justify-content-center">

                      <li class="page-item {{if has_prev==true}}  {{else}} disabled {{/if}}" >
                        <a class="page-link" href="#">上一页</a>
                      </li>

                      {{each(i,cupage) iter_pages}}


                          {{if cupage==null}}
                                 <li class="page-item">
                                    <a class="page-link" >...</a>
                                 </li>
                          {{else}}

                                 <li class="page-item">
                                    <a class="page-link" href="javascript:page(${cupage})">${cupage}</a>
                                 </li>
                          {{/if}}


                      {{/each}}


                      <li class="page-item {{if has_next==true}}  {{else}} disabled {{/if}}">
                        <a class="page-link" href="javascript:page()">下一页</a>
                      </li>
                    </ul>
                  </div>

    {% endraw %}

{%- endmacro %}


