{% extends "coreui/coreui-base.html" %}

{% import "macro/pagination.html" as pagination %}


{% block title %}贵州移动自主研发框架-pyfw{% endblock title %}


{% block body_attribs %} class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show" {% endblock body_attribs %}



{% block main %}
      <main class="main">
        <!-- Breadcrumb-->
        {% block breadcrumb %}
       {{ super() }}
        {% endblock breadcrumb %}


      {% block containerfluid %}


        <div class="container-fluid">
          <div class="animated fadeIn">

            <div class="row">
              <div class="col-md-12">



            <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i> 用户列表
                    <div class="card-header-actions">
                      <button class="btn btn-sm  btn-success" type="button" onclick="newData('')"><i class="fa fa-plus-square-o fa-lg"></i>&nbsp;新增</button>

                    </div>
                  </div>

                <div class="card-body">

                <!-- 筛选 -->
                <form id="queryform">
                <div class="row">
                  <div class="col-md-4">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input type="text" id="name" name="name" class="form-control" placeholder="用户名/昵称/手机号/邮箱">
                        </div>



                  </div>

                  <div class="col-md-3">

                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                        <input type="text" id="test1" class="form-control" id="date" placeholder="开始时间">
                    </div>


                  </div>
                  <div class="col-md-3">

                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                        <input type="text" class="form-control" id="date" placeholder="结束时间">
                    </div>


                  </div>
                  <div class="col-md-2 text-right">

                    <button class="btn btn-sm  btn-secondary " type="button" onclick="query()"><i class="fa fa-search fa-lg"></i>&nbsp;查询</button>
                    <button class="btn btn-sm  btn-secondary" type="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                    <i class="fa fa-chevron-circle-down fa-lg"></i>&nbsp;高级筛选</button>
                  </div>

                </div>
                </form>
                    <input type="hidden" id="seleceid" name="selectid" value="">
                <br>
                <!-- 高级筛选 -->

                <div class="collapse" id="collapseExample" style="">

                <div class="row">
                  <div class="col-md-5">

                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                            <i class="fa fa-user"></i>
                            </span>
                            </div>
                        <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="用户名/昵称/手机号/邮箱">
                        </div>



                  </div>

                  <div class="col-md-3">

                    <div class="input-group">
                    <span class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                    </span>
                    </span>
                    <input type="text" class="form-control" id="date" placeholder="开始时间">
                    </div>


                  </div>
                  <div class="col-md-3">

                    <div class="input-group">
                    <span class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                    </span>
                    </span>
                    <input type="text" class="form-control" id="date" placeholder="结束时间">
                    </div>


                  </div>
                    <div class="col-md-1 text-right">

                  </div>

                </div>

                </div>

                <br>


                <div id="grid">


                </div>

                    </div>
                 </div>
               </div>

            </div>

         </div>
      </div>




<div  id="myModal" class="modal fade" aria-hidden="true" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">编辑</h4>
      </div>
      <div class="modal-body">

            <form id="editform" name="editform">
            <input type="hidden" id="id" name="id" value="0">
             <div class="form-group row">
                <label class="col-md-2 col-form-label" for="text-input">用户名</label>
                <div class="col-md-4">
                    <input type="text" id="login_account" name="login_account" class="form-control" placeholder="用户名">
                </div>

                <label class="col-md-2 col-form-label" for="text-input">真实姓名</label>
                <div class="col-md-4">
                    <input type="text" id="user_name" name="user_name" class="form-control" placeholder="真实姓名">
                </div>
            </div>


             <div class="form-group row">
                <label class="col-md-2 col-form-label" for="text-input">Text Input</label>
                <div class="col-md-4">
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                </div>

                <label class="col-md-2 col-form-label" for="text-input">Text Input2</label>
                <div class="col-md-4">
                    <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                </div>
            </div>

            <div class="form-group row">
            <div class="col-sm-6">
            <input type="text" class="form-control" placeholder=".col-sm-6">
            </div>
            </div>

                      <div class="form-group row">
            <div class="col-sm-6">
            <input type="text" class="form-control" placeholder=".col-sm-6">
            </div>
            </div>


            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="submitFrom()">提交</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->








<script id="gridtable" type="text/x-jquery-tmpl">

{% raw %}

         {{if total!=0}}
            <table class="table table-responsive-sm table-hover">

                      <thead class="">
                        <tr>
                          <th class="text-center">
                            <i class="icon-people"></i>
                          </th>
                          <th>用户名</th>
                          <th class="text-center">性别</th>
                          <th>资料完善度</th>
                          <th>邮箱</th>
                          <th>编号</th>
                          <th class="text-center">方式</th>
                          <th>活跃</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody >

                        {{each(i,user) items}}
                        <tr>
                          <td class="text-center">
                            <div class="avatar">
                              <img class="img-avatar" src="/static/${icon}" alt="admin@bootstrapmaster.com">
                              <span class="avatar-status badge-success"></span>
                            </div>
                          </td>
                          <td>
                            <div>${user_name}</div>
                            <div class="small text-muted">
                              <span>${login_account}</span> | 注册时间:

                                </div>
                          </td>
                          <td class="text-center">

                             {{if user_gender == 1}}
                                <i class="icon-user-female icons font-2xl  mt-4" id="us" title="us"></i>

                              {{else}}
                                  <i class="icon-user icons font-2xl  mt-4" id="us" title="us"></i>
                              {{/if}}

                          </td>
                          <td>
                            <div class="clearfix">
                              <div class="float-left">
                                <strong>50%</strong>
                              </div>
                              <div class="float-right">
                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                              </div>
                            </div>
                            <div class="progress progress-xs">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>${ID}</td>
                          <td>${ID}</td>
                          <td class="text-center">
                            <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                          </td>
                          <td>
                            <div class="small text-muted">最后登录时间</div>
                            <strong>${ID}</strong>
                          </td>
                          <td>
                            <button class="btn btn-sm btn-primary" type="button" data-whatever="@mdo" onclick="updateData(${id})"><i class="fa fa-edit fa-lg"></i>&nbsp;修改</button>
                            <button class="btn btn-sm btn-danger" type="button" onclick="deleteSubmitFrom(${id})"><i class="fa fa-close fa-lg "></i>&nbsp;删除</button>
                          </td>
                        </tr>

                        {{/each}}

                         </tbody>
                    </table>


              {{else}}
            <div class="text-center">
                <h3>无数据</h3>
            </div>

           {{/if}}

        {% endraw %}

                  <!-- 分页 -->
                  {{ pagination.pagination() }}



</script>






      {% endblock containerfluid %}
      </main>

      {% endblock main %}


{% block scripts %}

     {{ super() }}

<script type="application/javascript">



    /**
     * 打开新增窗口
     **/
    function newData(){

         $('#myModal').modal('show');

         $('#myModal').find('.modal-title').text('新增')

         $("#id").val(0)

    }

    /**
     * 打开修改窗口
     **/
    function updateData(param){

         $('#myModal').modal('show');

         $('#myModal').find('.modal-title').text('修改' + param);

         $("#id").val(param);

         var url=subUrl('{{ url_for('api_1_1.get',id=0) }}')+param;



         $.ajax({
            url:url,
            type:'get',
            data: param,
            success:function(data){

               //填充表单
               $("#editform").setForm(data.result);

            }
        });

    }


    /**
     * 新增和修改提交
     **/
    function submitFrom(){

        var param=$("#editform").serialize();

        var url,method;

        if($("#id").val()=="0"){
            //新增
            url='{{ url_for('api_1_1.post') }}'
            method='post'
        }else{
            //编辑
            url=subUrl('{{ url_for('api_1_1.put',id=0) }}')+$("#id").val()
            method='put'
        }

        $.ajax({
            url:url,
            type:method,
            data: param,
            success:function(data){

                NotifyMsg(data.msg);

                $('#myModal').modal('hide')

            }
        });

    }


    /**
     * 删除提交
     **/
    function deleteSubmitFrom(id){


        if(window.confirm('你确定要删除吗？')){


                $.ajax({
                    url:subUrl('{{ url_for('api_1_1.delete',id=0) }}')+id,
                    type:'delete',
                    data: param,
                    success:function(data){

                        NotifyMsg(data.msg);


                    }
                });

                return true;
             }else{

                 return false;
             }

    }




    //时间控件
    laydate.render({
      elem: '#test1' //指定元素
    });




    pagination();


    /**
     * 查询方法
     *
     **/
    function query(){

        //获得筛选条件
        param=serializeNotNull($("#queryform").serialize());

        $("#seleceid").val(param);

        pagination();

    }


    /**
     * 获得列表
     * @param page
     */
    function pagination(page){

        if(page==null)page=1;

        //加入当前页
        param="page="+page;

        //加入已确定搜索的筛选条件
        if ($("#seleceid").val()!="") {
            param =param+"&"+ serializeNotNull($("#seleceid").val());
        }


        $.ajax({
            url:'{{ url_for('api_1_1.getList') }}',
            type:'get',
            data: param,
            success:function(data){

                $("#grid").empty();
                $("#gridtable").tmpl(data).appendTo('#grid');
            }
        });

    }



</script>

 {%- endblock scripts %}
