{% extends "base_index.html" %}

{% block title %}基础开发框架{% endblock %}



{% block pagebody %}



<div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <div class="widget">
                                        <div class="widget-header bordered-bottom bordered-themeprimary">
                                            <i class="widget-icon fa fa-tasks themeprimary"></i>
                                            <span class="widget-caption themeprimary">用户列表</span>
                                        </div><!--Widget Header-->

                                        <div class="widget-body no-padding">
                                            <div class="task-container" style="padding: 5px;">




<div class="easyui-layout" style="height:350px;">
        <div data-options="region:'north'" style="height:50px"></div>
        <div data-options="region:'south',split:true" style="height:50px;"></div>
        <div data-options="region:'east',split:true" title="East" style="width:100px;"></div>
        <div data-options="region:'west',split:true" title="West" style="width:100px;"></div>
        <div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
            <table class="easyui-datagrid"
                    data-options="url:'datagrid_data1.json',method:'get',border:false,singleSelect:true,fit:true,fitColumns:true">
                <thead>
                    <tr>
                        <th data-options="field:'itemid'" width="80">Item ID</th>
                        <th data-options="field:'productid'" width="100">Product ID</th>
                        <th data-options="field:'listprice',align:'right'" width="80">List Price</th>
                        <th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th>
                        <th data-options="field:'attr1'" width="150">Attribute</th>
                        <th data-options="field:'status',align:'center'" width="60">Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>





                                            </div>
                                        </div><!--Widget Body-->
                                    </div>




        </div>


</div>







{% endblock pagebody %}



{% block scripts %}
     {{ super() }}




    <script>


    </script>

{% endblock scripts %}