{% extends "base_index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CRM - 注册{% endblock %}


{%- block styles %}
   {{ super() }}
<style>

.login-container {
    position: relative;
    margin: 10% auto;
    max-width: 500px;
}

.loginbox {
    position: relative;
    width: 500px !important;
    height: auto !important;
    padding: 0 20px 20px 0;
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 14px rgba(0,0,0,.1);
    box-shadow: 0 0 14px rgba(0,0,0,.1);
}

</style>

{%- endblock styles %}

{% block body %}


<div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <div class="loginbox-title">登录</div>

           {{ wtf.quick_form(form) }}

        </div>
        <div class="logobox">

        </div>
    </div>





     <div class="logobox">

     </div>


{% endblock %}

