{% extends "base_index.html" %}

{% block title %}Flasky - Page Not Found{% endblock %}

{% block body_attribs %} class="body-404" {% endblock body_attribs %}

{% block navbar %}
{% endblock  %}

{% block body %}

    <div class="error-header"> </div>
    <div class="container ">
        <section class="error-container text-center">
            <h1>404</h1>
            </br>
            <div class="error-divider" style="margin-top: 10px;">
                <h2>找不到页面</h2>
    </br>
                <p class="description">We Couldn’t Find This Page</p>
            </div>
            <a href="{{ url_for('auth.login') }}" class="return-btn"><i class="fa fa-home"></i>Home</a>
        </section>
    </div>


{% endblock %}
